# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ksbryysdnisqipqoojyt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzYnJ5eXNkbmlzcWlwcW9vanl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4MDU2NjIsImV4cCI6MjA2MTM4MTY2Mn0.f_INUVm_gk-uYYZF5YKxQXRIZ2AMeOi30mx_RCChz9w

# Mistral AI Configuration (Optional)
MISTRAL_API_KEY=your-mistral-api-key

# Tripay Configuration
NEXT_PUBLIC_TRIPAY_API_URL=https://tripay.co.id/api
TRIPAY_API_KEY=DEV-gaGWwz53DZTe8MU4a0MRb95iG7kQTPGidlsQCmoT
TRIPAY_PRIVATE_KEY=yxDtO-HNX74-Qk95w-iDqkv-oufTV
TRIPAY_MERCHANT_CODE=T39631

# PayPal Configuration
NEXT_PUBLIC_PAYPAL_CLIENT_ID=Ae1Lh_HKKoYjC-t5KO28pX2cyyl1wvPK1olwZ-owIZfWVidBUG-zkY8o1K1MKmfjvzWvbaIgBrQoPJ9v
PAYPAL_CLIENT_SECRET=Ae1Lh_HKKoYjC-t5KO28pX2cyyl1wvPK1olwZ-owIZfWVidBUG-zkY8o1K1MKmfjvzWvbaIgBrQoPJ9v
NEXT_PUBLIC_PAYPAL_MODE=sandbox # Change to 'production' for live environment
